<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Summits filter</legend>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="selectbasic">Association</label>
                <div class="controls">
                        <select ng-model="assSelect" ng-options="a.name for a in associationList" id="selectbasic1" name="selectbasic" ng-change="associationChange()" class="input-large">
                        <option value="">-- choose association --</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="selectbasic">Region</label>
                <div class="controls">
                    <select id="selectbasic" name="selectbasic" class="input-large" ng-disabled="assSelect==null" ng-model="regSelect" ng-change="regionChange()" ng-options="r.name for r in regionList|exactAssCodeMatch:assSelect.code">
                        <option value="">-- choose region --</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </form>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Summit code</th>
                <th>Name</th>
                <th>Height</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="summit in pagedItems[currentPage]">
                <td>{{summit.region.association.code}}/{{summit.region.code}}-{{summit.code}}</td>
                <td>{{summit.name}}</td>
                <td>{{summit.height}}</td>
            </tr>

            </tbody>
        </table>
        <div ui-if="pagedItems.length > 0" class="pagination">
            <ul>
                <li ng-class="{disabled: currentPage == 0}"><a href ng-click="prevPage()">Prev</a></li>
                <li ng-class="{active: n == currentPage}" ng-repeat="n in range(currentPage, pagedItems.length)" ng-click="setPage()"><a href ng-bind="n + 1">{{(n+1)}}</a></li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}"><a href ng-click="nextPage()">Next</a></li>
            </ul>
        </div>
    </div>

</div>



<hr>

<footer>
    <p>All summits data come from sota.co.uk</p>
</footer>